anyio==3.3.4
asgiref==3.4.1
click==8.0.3
colorama==0.4.4
fastapi==0.70.0
gunicorn==20.1.0
h11==0.12.0
idna==3.3
importlib-metadata==4.8.1
limits==1.5.1
pydantic==1.8.2
redis==3.5.3
six==1.16.0
slowapi==0.1.5
sniffio==1.2.0
starlette==0.16.0
typing-extensions==3.10.0.2
uvicorn==0.15.0
zipp==3.6.0
